run = "python3 main.py"
modules = ["python-3.11"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8001
externalPort = 3000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 9000
externalPort = 9000

[[ports]]
localPort = 38365
externalPort = 3002

[[ports]]
localPort = 40947
externalPort = 3003

[[ports]]
localPort = 49191

[[ports]]
localPort = 53957
externalPort = 4200

[[ports]]
localPort = 55071

[[ports]]
localPort = 55207
externalPort = 3001

[nix]
channel = "stable-25_05"
packages = ["openssl", "postgresql"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000
